@import-normalize; /* bring in normalize.css styles */

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

input,
textarea {
  outline: none;
}
